.LoginParte2{
  width: 60vw;
  height: 100vh;
  background-color: #836FFF
}

.pc{
  margin: 30% 40%;
  color: white;
  font-size: 200px
}


@media (max-width: 768px){
  .LoginParte2{
    width: 100vw
  }
}